.maindiv {
    display: flex;
    height: 1500px;
    background-color: #f4f7fe;
  }
  
  .Horizontext {
    font-family: Poppins;
    font-size: 26px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #2b3674;
font-weight: 700;



  }
  
  .freetext {
    font-family: Poppins;
    font-size: 26px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    /* color: #2b3674; */

  }
  
  .searchicon {
    position: absolute;
    transform: translateY(-50%);
    width: 12px;
    height: 13px;
    margin-top: 17px;
    margin-left: 8px;
  }
  
  .searchinput {
    padding: 5px 10px 5px 32px;
    border-radius: 30px;
    border: none;
    background-color: #f4f7fe;
    font-size: 14px;
    width: 200px;
  }
  
  .searchdiv {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .searchmaindiv {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 7px;
    border-radius: 30px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    justify-content: flex-end;
    flex: 1;
    margin-left: 300px;
    margin-top: -57px;
    position: sticky;
    width: 370px;
    z-index: 1000;
    float: right;
    margin-right: 23px;
  }
  
  .statictext {
    padding: 20px;
    text-align: center;
  }
  
  .sidebar {
    width: 290px;
    height: 1470px;
    background-color: #ffffff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
  }
  
  .breadcrumb {
    color: #8f9bba; 
    font-family: 'DM Sans', sans-serif; 
    font-size: 34px;
    font-weight: 500; 
    line-height: 42px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
  }
  
  .navlink {
    text-decoration: none;
    color: #2b3674;
    text-transform: capitalize;
  }
  
  .navlink-active {
    color: #4318ff;
    font-weight: bold;
  }
  .breadcrumb-path{
    float: left;
    margin-top: 11px;
    margin-left: 19px;
  }
  .Maindashboard{
    float: left;
    /* margin-right: 40px; */
    margin-top: 45px;
    margin-left: -124px;
    color:#2B3674;
  font-family: DM Sans;
font-size: 34px;
font-weight: 700;
line-height: 42px;
letter-spacing: -0.02em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

    
  }